body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ddd;
}

.image-wrapper img {
    display: block;
    max-width: 120px;
    max-height: 120px;
}
img {
    width: 120px;
    height: 120px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    opacity: 70%;
}

.dragging {
    opacity: 0.5;
}

.over {
    border: 2px dashed #000;
}


.uploadBtn {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;
    font-family: 'Arial, sans-serif';
    color: #4a4a4a;
    font-size: medium;
    margin: 5px;
    
}