body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
}

form label, form button {
    background-color: #7F9CCB;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px ridge black;
    font-size: 0.8rem;
    height: auto;
  }

#imageContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
}

.image-wrapper img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 8px;
}

.remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    border: none;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.image-wrapper.dragging {
    opacity: 0.5;
    border: 2px dashed #ccc;
}

.image-wrapper.over {
    border: 2px dashed #000;
    background-color: #f0f0f0;
}
